body {
    margin: 0;
}
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap { 
    width: 400px;
}
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input {
    width: 100%;
}
.full-screen {
    height: 100%;
    position: absolute;
    width: 100%;
}
.ma-logo {
    height: 75px;
    left: 10px;
    position: absolute;
    top: 40px;
    width: 75px;
}
.user-loc-button {
    background-clip: padding-box;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 26px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 80px;
    width: 26px;
}
.user-loc-button:hover {
    background-color: #f8f8f8;
}
.my-icon {
    border-radius: 100%;
    color: white;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}
.icon-station {
    background: #FFFFFF;
    color: #000;
}
.route-label {
    background-color: #606060;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    min-width: 2em;
    margin-right: 1px;
    text-align: center;
}
.route-label.MARTA {
    background-color: #0099FF;
}
.route-label.MARTA.rail-line {
    border-radius: 0.625em;
    height: 1.25em;
    margin-right: 2px;
    min-width: 1em;
    overflow: hidden;
    padding-left: 0.25em;
    text-align: left;
    vertical-align: text-bottom;
    width: 1.25em;
}
.route-label.MARTA.rail-line::first-letter {
    margin-right: 2em;
}
.route-label.MARTA.RED {
    background-color: #FF0000;
}
.route-label.MARTA.GOLD {
    background-color: #ffd000;
    color: #000;
}
.route-label.MARTA.BLUE {
    background-color: #0051ff;
}
.route-label.MARTA.GREEN {
    background-color: #00cc33;
}
.route-label.CCT {
    background-color: #b3b300;
}
