body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}
a {
    text-decoration: none;
}
#root > * {
    position: absolute;
}
#info-pane {
    box-sizing: border-box;
    display: block;
    background-color: #ffffff;
}
#info-pane-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#map-pane {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
#collapse-button {
    background-color: #e0e8f0;
    border: none;
    display: block;
    padding: 4px;
    position: absolute;
}
#collapse-button:hover {
    background: #D0D0D0;
}
@media screen and (min-width:801px) {
    #info-pane {
        transition: left 0.2s;
        bottom: 0;
        left: -400px;
        top: 0;
        width:400px;
    }
    .info-visible #info-pane {
        left: 0;
    }
    .info-visible #map-pane {
        bottom: 0;
        left: 400px;
    }
    #collapse-button {
        border-radius: 4px;
        font-size: 200%;
        line-height: 1em;
        margin: 4px;
        padding-left: 8px;
        padding-right: 8px;
        right: 0;
    }
    #collapse-button > span:before {
        content: "×";
    }
}
@media screen and (max-width:800px) {
    #info-pane {
        height: 50%;
        left: 0;
        top: 100%;
        transition: top 0.2s;
        width: 100%;
    }
    .info-visible #info-pane {
        top: 50%;
    }
    .info-visible #map-pane {
        bottom: 50%;
        left: 0;
    }
    #collapse-button {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        line-height: 8px;
        top: -8px;
        width: 100%;
    }
    #collapse-button > span {
        background-color: grey;
        border-radius: 4px;
        display: inline-block;
        height: 4px;
        width: 100px;
    }
    #collapse-button > span:before {
        background-color: grey;
        border-radius: 4px;
        display: inline-block;
    }
}
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap {
    width: 400px;
}
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input {
    width: 100%;
}
.fill,
.full-screen {
    height: 100%;
    width: 100%;
}
.full-screen {
    position: absolute;
}
.ma-logo {
    height: 75px;
    left: 10px;
    position: absolute;
    top: 40px;
    width: 75px;
}
.ma-logo-gl {
    height: 75px;
    width: 75px;
    margin-top: -20px;
}
.user-loc-button {
    background-clip: padding-box;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 26px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 80px;
    width: 26px;
}
.user-loc-button:hover {
    background-color: #f8f8f8;
}
.leaflet-popup-content {
    padding: 0px 0px 5px;
}
.mapboxgl-popup-content {
    padding: 1px;
}
.leaflet-popup-close-button, .mapboxgl-popup-close-button {
    background-position: -1px -53px;
    height: 25px;
    width: 25px;
}
.leaflet-popup-close-button + .leaflet-popup-content-wrapper .leaflet-popup-content {
    padding-top: 0px;
}

.stop-name {
    background-color: #e0e8f0;
    line-height: 1em;
    margin: 0;
    padding: 6px 25px 6px 10px;
}
#info-pane .stop-name {
    font-size: 125%;
    min-height: 2.5em;
}
.stop-info {
    padding: 10px;
    overflow-y: auto;
}
.stop-info > div {
    margin-bottom: 5px;
}
.stop-info > div:last-of-type {
    margin-bottom: 0;
}
.my-icon {
    box-sizing: border-box;
    border-radius: 100%;
    color: white;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}
.my-icon > div {
    height: 100%;
    width: 100%;
}
.icon-parkride {
    background: #2d01a5;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: bold;
    line-height: 18px;
}
.icon-station,
.icon-tramstation {
    background: #FFFFFF;
    border: 2px solid #606060;
}
.icon-tramstation {
    border-radius: 5px;
    height: 10px;
    width: 10px;
}
.route-label > span {
    background-color: #606060;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    min-width: 2em;
    margin-right: 1px;
    text-align: center;
}
.route-label.MARTA > span {
    background-color: #0099FF;
}
.route-label.MARTA:first-of-type::before {
    content: url(../images/bus-icon.svg);
}
.route-label.MARTA.rail-line > span {
    border-radius: 0.625em;
    box-sizing: border-box;
    height: 1.25em;
    margin-right: 2px;
    min-width: 1em;
    overflow: hidden;
    padding-left: 0.25em;
    text-align: left;
    vertical-align: text-bottom;
    width: 1.25em;
}
.route-label.MARTA.rail-line:first-of-type::before {
    content: url(../images/subway-train.svg);
}
.route-label.MARTA.rail-line > span::first-letter {
    margin-right: 2em;
}
.route-label.MARTA.tram-line::before {
    content: url(../images/streetcar-train.svg);
}
.route-label.MARTA.tram-line::before,
.route-label.MARTA:first-of-type::before,
.route-label.MARTA.rail-line:first-of-type::before {
    display: inline-block;
    height: 1.25em;
    vertical-align: text-bottom;
    width: 1.25em;
}
.route-label.MARTA.RED > span {
    background-color: #FF0000;
}
.route-label.MARTA.GOLD > span {
    background-color: #ffd000;
    color: #000;
}
.route-label.MARTA.BLUE > span {
    background-color: #0051ff;
}
.route-label.MARTA.GREEN > span {
    background-color: #00cc33;
}
.route-label.CCT > span {
    background-color: #b3b300;
}
.inline-list {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
.inline-list li {
    display: inline;
}
.popup-amenities svg {
    height: 1.1em;
    margin-right: 4px;
    width: 1.1em;
}
.info-pane-route {
    display: flex;
}
.info-pane-route > h2 {
    font-size: 125%;
    margin: 0;
    white-space: nowrap;
}
.info-pane-route > div {
    padding: 0 42px 0 5px;
}
.route-info {
    overflow-y: auto;
}
.trip-diagram {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
.trip-diagram td, .trip-diagram th {
    border: 1px solid #ccc; 
    text-transform: capitalize;
    vertical-align: top;
    white-space: nowrap;
}
.trip-diagram tr:first-child td:last-child > span,
.trip-diagram tr:last-child td:last-child > span {
    background-color: #000;
    color: #fff;
}
.trip-diagram small {
    color: #888;
    font-size: 65%;
}
.trip-diagram .new-route-street td {
    border-top: 1px solid #ccc;
    font-weight: bold;
    margin-top: 2px;
    padding-top: 2px;
}
.trip-diagram td:last-child {
    padding: 0;
    position: relative;
}
th svg, td svg {
    height: 1em;
}
td.gray-cell {
    background-color: #ccc;
    color: #888;
    text-align: center;
}
span.diagram-line {
    border-left: 4px solid #666;
    display: inline-block;
    height: 1.5em;
    margin: -1px 0 -1px 0.5em;
    position: relative;
    vertical-align: middle;
    width: 10px;
}
span.diagram-line.stop::before {
    background-color: #666;
    content: ".";
    display: inline-block;
    margin: 2px -8px -1px;
    width: 12px;
    border-radius: 6px;
    height: 12px;
    color: transparent;
    vertical-align: middle;
    border-width: 0;
}
span.diagram-line .junction {
    border-left: 4px solid #666;
    height: 14px;
    left: -4px;
    position: absolute;
    width:11px;
}
span.diagram-line .curve {
    border-right: 4px solid #666;
    height: 14px;
    left: 8px;
    position: absolute;
    width:10px;
}
span.diagram-line .convergence.junction {
    border-top-left-radius: 20px;
}
span.diagram-line .convergence.curve {
    border-bottom-right-radius: 20px;
}
span.diagram-line .divergence.junction {
    border-bottom-left-radius: 20px;
}
span.diagram-line .divergence.curve {
    border-top-right-radius: 20px;
}
span.diagram-line .convergence.curve,
span.diagram-line .divergence.junction {
    border-bottom: 4px solid #666;
    top: -4px;
}
span.diagram-line .convergence.junction,
span.diagram-line .divergence.curve {
    border-top: 4px solid #666;
    bottom: -4px;
}
