body {
    margin: 0;
}
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap {
    width: 400px;
}
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input {
    width: 100%;
}
.full-screen {
    height: 100%;
    position: absolute;
    width: 100%;
}
.ma-logo {
    height: 75px;
    left: 10px;
    position: absolute;
    top: 40px;
    width: 75px;
}
.user-loc-button {
    background-clip: padding-box;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 26px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 80px;
    width: 26px;
}
.user-loc-button:hover {
    background-color: #f8f8f8;
}
.leaflet-popup-content {
    padding: 0px 0px 5px;
}
.leaflet-popup-close-button {
    background-position: -1px -53px;
    height: 25px;
    width: 25px;
}
.leaflet-popup-close-button + .leaflet-popup-content-wrapper .leaflet-popup-content {
    padding-top: 0px;
}
.stop-name {
    background-color: #e0e8f0;
    line-height: 1em;
    padding: 6px 25px 6px 10px;
}
.stop-info {
    padding: 10px;
}
.my-icon {
    box-sizing: border-box;
    border-radius: 100%;
    color: white;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}
.my-icon > div {
    height: 100%;
    width: 100%;
}
.icon-parkride {
    background: #2d01a5;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: bold;
    line-height: 18px;
}
.icon-station,
.icon-tramstation {
    background: #FFFFFF;
    border: 2px solid #606060;
}
.icon-tramstation {
    border-radius: 5px;
    height: 10px;
    width: 10px;
}
.route-label > span {
    background-color: #606060;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    min-width: 2em;
    margin-right: 1px;
    text-align: center;
}
.route-label.MARTA > span {
    background-color: #0099FF;
}
.route-label.MARTA.rail-line > span {
    border-radius: 0.625em;
    height: 1.25em;
    margin-right: 2px;
    min-width: 1em;
    overflow: hidden;
    padding-left: 0.25em;
    text-align: left;
    vertical-align: text-bottom;
    width: 1.25em;
}
.route-label.MARTA.rail-line:first-of-type::before {
    content: url(../images/subway-train.svg);
}
.route-label.MARTA.rail-line > span::first-letter {
    margin-right: 2em;
}
.route-label.MARTA.tram-line::before {
    content: url(../images/streetcar-train.svg);
}
.route-label.MARTA.tram-line::before,
.route-label.MARTA.rail-line:first-of-type::before {
    display: inline-block;
    height: 1.25em;
    vertical-align: text-bottom;
    width: 1.25em;
}
.route-label.MARTA.RED > span {
    background-color: #FF0000;
}
.route-label.MARTA.GOLD > span {
    background-color: #ffd000;
    color: #000;
}
.route-label.MARTA.BLUE > span {
    background-color: #0051ff;
}
.route-label.MARTA.GREEN > span {
    background-color: #00cc33;
}
.route-label.CCT > span {
    background-color: #b3b300;
}
