body {
    font-family: sans-serif;
    margin: 0;
}
header {
    background-color: #000;
    color: #FFF;
    height:40px;
    text-align: right;
    overflow: hidden;
    padding-right:4px;
}
header a {
    border:none;
    text-decoration: none;
    background-image: url(../images/timelytrip_mini2.png);
    background-repeat: no-repeat;
    background-size: auto 40px;
    width: 90px;
    height: 40px;
    float: left;
}
.wrap {
    width:100%;
    max-width:800px;
}
table {
    width:100%;
    border-collapse: collapse;
    border-bottom: 2px solid #DDDDDD;
}
th {
    font-size: 65%;
    text-align: left;
}
td {
    border-top: 2px solid #DDDDDD;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.route, td.route-label, td.status {
    font-size:16pt;
    font-weight: bold;
    height: 2em;
    min-width:2em;
    width:2em;
    text-align: center;
}
td.route, td.status {
    color: #FFF;
    background-color: #034D66;
}
.remarks {
    font-size: 40%;
    font-weight:normal;
    text-transform: capitalize;
}
.stop {
    width:2em;
    text-align: center;
}
.small {
    font-size: 50%;
}
.status.on.time {
    background-color: #007e00;
}
.status.late {
    background-color: #0004d6;
}
.status.early {
    background-color: #d48a00;
}
.status.delayed, .status.canceled {
    background-color: #FF0000;
}
.status.way, .status.no {
    background-color: transparent;
    color: #000;
}
footer {
    margin-top: 40px;
    font-size: 60%;
}
.hidden {
    display:none;
}
#trip-details td {
    border-top: none;
}
.button {
    padding:4px;
    background-color: #dddddd;
    color: #000;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}
.route-label {
    position: relative;
}
.route-label > span {
    background-color: #606060;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    min-width: 2em;
    text-align: center;
}
.route-label.MARTA {
    background: url(../images/marta-bands.png) content-box left top no-repeat;
}
.route-label.MARTA > span {
    background-color: #0099FF;
}
.route-label.MARTA.rail-line > span {
    border-radius: 2em;
    font-size: 50%;
    height: 3.2em;
    line-height: 3.2em;
    margin-left: 1.5em;
    overflow: hidden;
    vertical-align: middle;
    width: 3.2em;
}
.route-label.MARTA.rail-line,
.route-label.MARTA.tram-line {
    background: none;
}
.route-label.MARTA.rail-line::before,
.route-label.MARTA.tram-line::before {
    display: block;
    height: 1em;
    left: 0;
    position: absolute;
    top: 0;
    width: 1em;
}
.route-label.MARTA.rail-line::before {
    content: url(../images/subway-train.svg);
}
.route-label.MARTA.tram-line::before {
    content: url(../images/streetcar-train.svg);
}
.route-label.MARTA.tram-line::before {
    content: url(../images/streetcar-train.svg);
    top: 0;
}
.route-label.MARTA.tram-line > span {
    font-size: 50%;
    height: 3em;
    line-height: 3em;
    margin-left: 1.5em;
    vertical-align: middle;
}
.route-label.MARTA.RED > span {
    background-color: #FF0000;
}
.route-label.MARTA.GOLD > span {
    background-color: #ffd000;
    color: #000;
}
.route-label.MARTA.BLUE > span {
    background-color: #0051ff;
}
.route-label.MARTA.GREEN > span {
    background-color: #00cc33;
}
.route-label.CCT {
    background: url(../images/cobb-logo.png) content-box left top no-repeat;
}
.route-label.CCT > span {
    background-color: #b3b300;
}
